<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        h1{
            color: red;
        }
    </style>
</head>
<body>
    <h1>In the name of alah.</h1>
    <p>your name is {{name}}</p>

    <form action="">
        <input type="text"name='age' plcaceholder='Enter your aage'>
        <br>
        <br>
        <input type="option"name='age' plcaceholder='Enter your aage'>
    <br>
        <input type="button" value='Submit'>
    </form>

    <h3>Your result is .....</h1>
</body>
</html>